<section class="p-3 w-[40%] m-auto mt-2">
  <h3 class="font-bold text-2xl">Create Movie</h3>

  <form (ngSubmit)="onSubmit()"
    class="border flex flex-col mt-8 mb-5 w-full px-5 py-12 gap-8 shadow-[0px_2px_12px_7px_#00000024] rounded-2xl">
    <div class="flex flex-col gap-2">
      <label for="title" class="text-xs font-semibold">Title</label>
      <input required type="text" name="title" [(ngModel)]="MovieData.title" class="p-3 text-xs bg-slate-100 rounded-md"
        placeholder="Enter your title here . . ." id="title" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="description" class="text-xs font-semibold">Description</label>
      <textarea required name="description" [(ngModel)]="MovieData.description"
        class="p-3 text-xs bg-slate-100 rounded-md" placeholder="Enter your movie description . . ."
        id="description"></textarea>
    </div>

    <div class="flex flex-col gap-2">
      <label for="language" class="text-xs font-semibold">Language</label>
      <select
        name="language"
        [(ngModel)]="MovieData.language"
        required
        class="p-3 text-xs bg-slate-100 rounded-md"
        id="language"
      >
        <option value="" disabled>Select a language</option>
        <option value="Marathi">Marathi</option>
        <option value="Hindi">Hindi</option>
        <option value="English">English</option>
        <option value="Tamil">Tamil</option>
      </select>
    </div>
    
    <div class="flex flex-col gap-2">
      <label for="releaseDate" class="text-xs font-semibold">Release Date</label>
      <input required type="date" name="releaseDate" [(ngModel)]="MovieData.releaseDate"
        class="p-3 text-xs bg-slate-100 rounded-md" id="releaseDate" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="releaseDate" class="text-xs font-semibold">Movie Category</label>
      <input required type="text" placeholder="Enter your movie category . . . " name="genre"
        [(ngModel)]="MovieData.genre" class="p-3 text-xs bg-slate-100 rounded-md" id="img" />
    </div>
    <div class="flex flex-col gap-2">
      <label for="releaseDate" class="text-xs font-semibold">Movie Image</label>
      <input required type="text" placeholder="Enter your movie image . . . " name="img" [(ngModel)]="MovieData.img"
        class="p-3 text-xs bg-slate-100 rounded-md" id="img" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="duration" class="text-xs font-semibold">Duration</label>
      <section class="flex gap-3">

        <div class="">
          <label for="hours" class="text-xs font-semibold">hours</label>
          <input required type="number" max="4" min="1" name="hours" [(ngModel)]="hours"
            class="p-3 text-xs bg-slate-100 rounded-md" id="duration" />
        </div>

        <div class="">
          <label for="minutes" class="text-xs font-semibold">minutes</label>
          <input required type="number" max="60" min="1" name="minutes" [(ngModel)]="minutes"
            class="p-3 text-xs bg-slate-100 rounded-md" id="duration" />
        </div>


        <div class="">
          <label for="duration" class="text-xs font-semibold">seconds</label>
          <input required type="number" max="60" min="1" name="seconds" [(ngModel)]="seconds"
            class="p-3 text-xs bg-slate-100 rounded-md"  id="duration" />
        </div>

      </section>
    </div>

    <div class="flex flex-col gap-2">
      <label for="endDate" class="text-xs font-semibold">End Date</label>
      <input required type="date" [(ngModel)]="MovieData.endDate" name="endDate"
        class="p-3 text-xs bg-slate-100 rounded-md" id="endDate" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="rating" class="text-xs font-semibold">IMDB Rating</label>
      <input required type="number" step="0.1" min="0" max="10" [(ngModel)]="MovieData.rating" name="rating"
        class="p-3 text-xs bg-slate-100 rounded-md" placeholder="Enter IMDB Rating (0-10)" id="rating" />
    </div>

    <button type="submit" class="bg-red-600 p-3 rounded-md font-semibold text-xs text-white">
      Submit
    </button>
    
  </form>
</section>