<section class="p-3 w-[40%] m-auto mt-6">

    <h3 class="font-bold text-2xl">Sign In</h3>

    <form class="border flex flex-col mt-8 mb-5 w-full px-5 py-12 gap-8 shadow-[0px_2px_12px_7px_#00000024] rounded-2xl"
        (ngSubmit)="onSubmit()">

        <div class="flex flex-col gap-2">
            <label for="" class="text-xs font-semibold">Username</label>
            <input type="text" name="username" class="p-3 text-xs bg-slate-100 rounded-md"
                placeholder="Enter your username here . . . " [(ngModel)]="user.username" id="">
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-xs font-semibold" for="">Password</label>
            <input type="password" name="password" [(ngModel)]="user.password"
                class="p-3 text-xs bg-slate-100 rounded-md" placeholder="Enter your password here . . . " id="">
        </div>

        <div *NgIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
        </div>

        <button class="bg-red-600 p-3 rounded-md font-semibold text-xs text-white" type="submit">Sign In</button>

    </form>
    <p class="p-3 mt-5 text-xs  flex gap-2">Don't have an account?<a class="underline" href="/register">Sign up</a></p>

</section>